@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

:root {
  --dark-theme: #151925;
  --light-theme: #dfdfdf;

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: var(--light-theme);
}

body {
  margin: 0;
}

main {
  margin-top: 6rem;
}
