.button {
  font: inherit;
  border: none;
  background: #ff9100;
  color: white;
  margin: 5px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50px;
}

.button:hover,
.button:active {
  background: #01aa25;
  border-color: #01aa25;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
